POSTGRES_DB=graveto_db

POSTGRES_PASSWORD=graveto_password
POSTGRES_USER=graveto_user

GRAVETO_APP_PASSWORD=graveto_app_password
GRAVETO_APP_USER=graveto_app_user

GRAVETO_MIGRATOR_PASSWORD=graveto_migrator_password
GRAVETO_MIGRATOR_USER=graveto_migrator_user

YFINANCE_API_KEY=yfinance_api_key

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PASSWORD=email_password
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=email_username
