GRAVETO_POSTGRES_DB=graveto_db
GRAVETO_POSTGRES_USER=graveto_user
GRAVETO_POSTGRES_PASSWORD=graveto_password
GRAVETO_APP_USER=graveto_app_user
GRAVETO_APP_PASSWORD=graveto_app_password
GRAVETO_MIGRATOR_USER=graveto_migrator_user
GRAVETO_MIGRATOR_PASSWORD=graveto_migrator_password